<p id="notice"><%= notice %></p>

<h1>Qors</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Location</th>
      <th>Macaddress</th>
      <th>Ipaddress</th>
      <th>Subnetmask</th>
      <th>Serialnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qors.each do |qor| %>
      <tr>
        <td><%= qor.hostname %></td>
        <td><%= qor.location %></td>
        <td><%= qor.macAddress %></td>
        <td><%= qor.ipAddress %></td>
        <td><%= qor.subnetMask %></td>
        <td><%= qor.serialNumber %></td>
        <td><%= link_to 'Show', qor %></td>
        <td><%= link_to 'Edit', edit_qor_path(qor) %></td>
        <td><%= link_to 'Destroy', qor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qor', new_qor_path %>
