<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @qor.hostname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @qor.location %>
</p>

<p>
  <strong>Macaddress:</strong>
  <%= @qor.macAddress %>
</p>

<p>
  <strong>Ipaddress:</strong>
  <%= @qor.ipAddress %>
</p>

<p>
  <strong>Subnetmask:</strong>
  <%= @qor.subnetMask %>
</p>

<p>
  <strong>Serialnumber:</strong>
  <%= @qor.serialNumber %>
</p>

<%= link_to 'Edit', edit_qor_path(@qor) %> |
<%= link_to 'Back', qors_path %>
