<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @power_station.hostname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @power_station.location %>
</p>

<p>
  <strong>Macaddress:</strong>
  <%= @power_station.macAddress %>
</p>

<p>
  <strong>Ipaddress:</strong>
  <%= @power_station.ipAddress %>
</p>

<p>
  <strong>Subnetmask:</strong>
  <%= @power_station.subnetmask %>
</p>

<p>
  <strong>Serialnumber:</strong>
  <%= @power_station.serialNumber %>
</p>

<%= link_to 'Edit', edit_power_station_path(@power_station) %> |
<%= link_to 'Back', power_stations_path %>
