%div{:class => "table1"}
  = simple_form_for @node do |f|
    = f.error_notification
    = f.input :hostname
    = f.input :location, as: :string
    = f.input :ipAddress
    = f.input :subnetMask
    = f.input :nodeType, collection: ["Analog", "Microphone", "AES/EBU"]
    = f.input :mode, collection: ["Stereo", "Mono", "Mixed"]
    %h3 Inputs
    #tasks
      = f.simple_fields_for :node_inputs do |node_input|
        = render 'input_fields', f: node_input
      .links
        = link_to_add_association 'add Input', f, :node_inputs
    %h3 Outputs
    #outs
      = f.simple_fields_for :node_outputs do |node_output|
        = render 'output_fields', f: node_output
      .links
        = link_to_add_association 'add Output', f, :node_outputs
      = f.submit
