<%= form_with(model: node, local: true) do |form| %>
  <% if node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hostname %>
    <%= form.text_field :hostname, id: :node_hostname %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, id: :node_location %>
  </div>

  <div class="field">
    <%= form.label :ipAddress %>
    <%= form.text_field :ipAddress, id: :node_ipAddress %>
  </div>

  <div class="field">
    <%= form.label :subnetMask %>
    <%= form.text_field :subnetMask, id: :node_subnetMask %>
  </div>

  <div class="field">
    <%= form.label :nodeType %>
    <%= form.text_field :nodeType, id: :node_nodeType %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
