= simple_form_for @node do |f|
  = f.input :hostname
  = f.input :location
  = f.input :ipAddress
  = f.input :subnetMask
  = f.input :nodeType
  = f.input :mode, collection: ["Stereo", "Mono", "Mixed"]
  %h3 Inputs
  #tasks
    = f.simple_fields_for :node_inputs do |node_input|
      = render 'input_fields', f: node_input
    .links
      = link_to_add_association 'add Input', f, :node_inputs
  = f.submit
