%table
  %tbody
    %tr
      .nested-fields
        %td= f.input :name
        %td= f.input :inputDescription
        %td= f.input :lwChannel
        %td= f.input :shared
        %td= f.input :sourceMode
        %td= f.input :gain
        %td= f.input :disabled
        %td= f.input :notes
        = link_to_remove_association "remove input", f
