.nested-fields
  = f.error_notification
  = f.input :name
  = f.input :inputDescription
  = f.input :lwChannel
  = f.input :shared
  = f.input :sourceMode
  = f.input :gain
  = f.input :disabled
  = f.input :notes
  = link_to_remove_association "remove input", f
