%p#notice= notice
%h1 Nodes
%table{:class => "table"}
  %thead{:style => "text-align: left"}
    %tr
      %th Hostname
      %th Location
      %th Ipaddress
      %th Subnetmask
      %th Nodetype
      %th{:colspan => "3"}
  %tbody
    - @nodes.each do |node|
      %tr
        %td= node.hostname
        %td= node.location
        %td= node.ipAddress
        %td= node.subnetMask
        %td= node.nodeType
        %td= link_to 'Show', node
        %td= link_to 'Edit', edit_node_path(node)
        %td= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Node', new_node_path, :class => "btn btn--s btn--gray"
