%p
#notice= notice

%p
  %h1 Hostname: #{ @node.hostname }

%p
  %b Location:
  = @node.location
%p
  %b IP Address:
  = @node.ipAddress
%p
  %b Mode:
  = @node.mode


%h3 Inputs
%hr
#ins
%table{:class => "table"}
  %thead{:style => "text-align: left"}
    %tr
      %th Name on Network
      %th Detail
      %th Livewire Channel
      %th Share Status
      %th Source Mode
      %th gain
      %th Disabled
      %th Notes


  %tbody
    - @node.node_inputs.each do |node_input|
      %tr
        %td=node_input.name
        %td=node_input.inputDescription
        %td=node_input.lwChannel
        %td=node_input.shared
        %td=node_input.sourceMode
        %td=node_input.gain
        %td=node_input.disabled
        %td=node_input.notes


%h3 Outputs
%hr
#outs
%table{:class => "table"}
  %thead{:style => "text-align: left"}
    %tr
      %th Connected to
      %th Detail
      %th Subscription
      %th Mode
      %th Output Gain
      %th notes

  %tbody
    - @node.node_outputs.each do |node_output|
      %tr
        %td=node_output.destination
        %td=node_output.outputDescription
        %td=node_output.selectedChannel
        %td=node_output.mode
        %td=node_output.gain
        %td=node_output.notes


= link_to 'Edit', edit_node_path(@node)
\|
= link_to 'Back', nodes_path
%h2 Change History
%hr
%p note: only the 5 most recent changes are displayed on this page.
%p= link_to 'Click Here for full history', full_history_node_path
#audited
= render 'history'
