= simple_form_for(@cable) do |f|
  = f.error_notification
  .form-inputs
    = f.input :code
    = f.input :number
    = f.input :type
    = f.input :color
    = f.input :termination
    = f.input :description
  .form-actions
    = f.button :submit
