%p#notice= notice
%h1 Cables
%table
  %thead
    %tr
      %th Code
      %th Number
      %th Type
      %th Color
      %th Termination
      %th Description
      %th{:colspan => "3"}
  %tbody
    - @cables.each do |cable|
      %tr
        %td= cable.code
        %td= cable.number
        %td= cable.type
        %td= cable.color
        %td= cable.termination
        %td= cable.description
        %td= link_to 'Show', cable
        %td= link_to 'Edit', edit_cable_path(cable)
        %td= link_to 'Destroy', cable, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Cable', new_cable_path
