<p id="notice"><%= notice %></p>

<h1>Cables</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Number</th>
      <th>Type</th>
      <th>Color</th>
      <th>Termination</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cables.each do |cable| %>
      <tr>
        <td><%= cable.code %></td>
        <td><%= cable.number %></td>
        <td><%= cable.type %></td>
        <td><%= cable.color %></td>
        <td><%= cable.termination %></td>
        <td><%= cable.description %></td>
        <td><%= link_to 'Show', cable %></td>
        <td><%= link_to 'Edit', edit_cable_path(cable) %></td>
        <td><%= link_to 'Destroy', cable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cable', new_cable_path %>
