%p#notice= notice
%p
  %strong Code:
  = @cable.code
%p
  %strong Number:
  = @cable.number
%p
  %strong Type:
  = @cable.type
%p
  %strong Color:
  = @cable.color
%p
  %strong Termination:
  = @cable.termination
%p
  %strong Description:
  = @cable.description
= link_to 'Edit', edit_cable_path(@cable)
|
= link_to 'Back', cables_path
