<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @cable.code %>
</p>

<p>
  <strong>Number:</strong>
  <%= @cable.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cable.type %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cable.color %>
</p>

<p>
  <strong>Termination:</strong>
  <%= @cable.termination %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cable.description %>
</p>

<%= link_to 'Edit', edit_cable_path(@cable) %> |
<%= link_to 'Back', cables_path %>
