= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :email
    %br/
    = f.email_field :email
  .field
    = f.label :group
    %br/
    = f.text_field :group
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  - if can? :manage, User
    .field
      = f.label :external_id
      %br/
      = f.text_field :external_id
    .field
      = f.label :active
      %br/
      = f.check_box :active
    .field
      = f.label :role
      %br/
      = f.collection_select :role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}
  .actions
    = f.submit class: 'btn btn--s btn--gray'
