<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Org</th>
      <th>External ID</th>
      <th>Role</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.first_name, edit_user_path(user) %></td>
        <td><%= link_to user.last_name, edit_user_path(user) %></td>
        <td><%= link_to user.email, edit_user_path(user) %></td>
        <td><%= link_to user.phone, edit_user_path(user) %></td>
        <td><%= user.org %></td>
        <td><%= user.external_id %></td>
        <td><%= user.role.humanize %></td>
        <td><%= user.active.to_s.humanize %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @users %>
<br>

<%= link_to 'New User', new_user_path, class: 'btn btn--s btn--gray' %>
