<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>group:</strong>
  <%= @user.group %>
</p>

<p>
  <strong>External ID:</strong>
  <%= @user.external_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn--s btn--gray' %> |
<%= link_to 'Back', users_path, class: 'btn btn--s btn--gray' %>
