<div id="header-container">
  <%= form_tag(search_query_path, method: "post") do %>
  <span id="search_field">
    <%= text_field_tag(:search, nil, placeholder: "Search") %>
  </span>
  <% end %>
  <span id="user_info">
    <span>
      Welcome, 
    </span>
    <span id="user_menu">
      <a>
        <%= link_to current_user.first_name, current_user %>
      </a>
      <ul>
        <li><%= link_to 'Logout', session_path(1), method: :delete %></li>
        <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
      </ul>
    </span>
  </span>
</div>
