#header-container
  = form_tag(search_query_path, method: "post") do
    %span#search_field
      = text_field_tag(:search, nil, placeholder: "Search")
  %span#user_info
    %span
      %i.icon.ion-navicon-round{:onclick => "openNav()"} &nbsp;
    %span
      Welcome,
    %span#user_menu
      %a
        = link_to current_user.first_name, current_user
      %ul
        %li= link_to 'Logout', session_path(1), method: :delete
        %li= link_to 'Edit Account', edit_user_path(current_user)
