<ul>
  <li>
    <span><i class="icon ion-volume-high"></i> <%= link_to "Audio Nodes", nodes_path %></span>
  </li>
  <li>
    <span><i class="icon ion-code-working"></i> <%= link_to "GPIO Nodes", node_gpios_path %></span>
  </li>
  <li>
    <span><i class="icon ion-flash"></i> <%= link_to "Powerstation", node_gpios_path %></span>
  </li>
  <li>
    <span><i class="icon ion-cube"></i> <%= link_to "QOR", node_gpios_path %></span>
  </li>
  <li>
    <span><i class="icon ion-wifi"></i> <%= link_to "Networking", root_path %></span>
  </li>
</ul>
