<p id="notice"><%= notice %></p>

<h1>Node Gpios</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Location</th>
      <th>Serialnumber</th>
      <th>Macaddress</th>
      <th>Ipaddress</th>
      <th>Subnetmask</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @node_gpios.each do |node_gpio| %>
      <tr>
        <td><%= node_gpio.hostname %></td>
        <td><%= node_gpio.location %></td>
        <td><%= node_gpio.serialNumber %></td>
        <td><%= node_gpio.macAddress %></td>
        <td><%= node_gpio.ipAddress %></td>
        <td><%= node_gpio.subnetmask %></td>
        <td><%= link_to 'Show', node_gpio %></td>
        <td><%= link_to 'Edit', edit_node_gpio_path(node_gpio) %></td>
        <td><%= link_to 'Destroy', node_gpio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Node Gpio', new_node_gpio_path %>
