<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @node_gpio.hostname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @node_gpio.location %>
</p>

<p>
  <strong>Serialnumber:</strong>
  <%= @node_gpio.serialNumber %>
</p>

<p>
  <strong>Macaddress:</strong>
  <%= @node_gpio.macAddress %>
</p>

<p>
  <strong>Ipaddress:</strong>
  <%= @node_gpio.ipAddress %>
</p>

<p>
  <strong>Subnetmask:</strong>
  <%= @node_gpio.subnetmask %>
</p>

<%= link_to 'Edit', edit_node_gpio_path(@node_gpio) %> |
<%= link_to 'Back', node_gpios_path %>
