<p id="notice"><%= notice %></p>

<h1>Networkings</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Type</th>
      <th>Model</th>
      <th>Macaddress</th>
      <th>Ipaddress</th>
      <th>Subnetmask</th>
      <th>Portcount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @networkings.each do |networking| %>
      <tr>
        <td><%= networking.hostname %></td>
        <td><%= networking.type %></td>
        <td><%= networking.model %></td>
        <td><%= networking.macAddress %></td>
        <td><%= networking.ipAddress %></td>
        <td><%= networking.subnetMask %></td>
        <td><%= networking.portCount %></td>
        <td><%= link_to 'Show', networking %></td>
        <td><%= link_to 'Edit', edit_networking_path(networking) %></td>
        <td><%= link_to 'Destroy', networking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Networking', new_networking_path %>
