<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @networking.hostname %>
</p>

<p>
  <strong>Type:</strong>
  <%= @networking.type %>
</p>

<p>
  <strong>Model:</strong>
  <%= @networking.model %>
</p>

<p>
  <strong>Macaddress:</strong>
  <%= @networking.macAddress %>
</p>

<p>
  <strong>Ipaddress:</strong>
  <%= @networking.ipAddress %>
</p>

<p>
  <strong>Subnetmask:</strong>
  <%= @networking.subnetMask %>
</p>

<p>
  <strong>Portcount:</strong>
  <%= @networking.portCount %>
</p>

<%= link_to 'Edit', edit_networking_path(@networking) %> |
<%= link_to 'Back', networkings_path %>
