<!DOCTYPE html>
<html>
  <head>
    <title>LWDesigner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <section id="header-sidebar">
        <div>
          <%= link_to 'LWDesigner', root_path, class: 'brand' %>
        </div>
      </section>
      <section id="header-main">
        <%= render "shared/main_header" %>
      </section>
    </header>
    <main>
      <section id="main">
        <div id="main-container">
          <%= yield %>
        </div>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
